# =====================================================
# PROYECTO SAMAR - CONFIGURACIÓN DE ENTORNO
# =====================================================

# --- SERVIDOR EXTERNO (Nginx/Público) ---
HOST=0.0.0.0
PORT=80   

# --- POSTGRESQL ---
# Docker usará estos datos para CREAR la base de datos automáticamente
DB_HOST=samar_db     
DB_USERNAME=postgres
DATABASE=nombre_db
PASSWORD=tu_password_seguro_aqui


ACCESS_TOKEN_SECRET=cambiar_por_clave_segura_minimo_32_caracteres
cookieKey=cambiar_por_otra_clave_segura_minimo_32_caracteres

