# --- SERVER CONFIG ---
PORT=3000
HOST=localhost
NODE_ENV=development # Change to 'production' in deploy
ALLOWED_ORIGINS=http://localhost:5173,https://mi-dominio.com

# --- DATABASE CONFIG ---
DB_USERNAME=postgres
PASSWORD=postgres
DATABASE=db_samar
DB_HOST=localhost

# --- SECURITY SECRETS (Change these in production!) ---
JWT_SECRET=super_secret_jwt_key_change_me
COOKIE_SECRET=super_secret_cookie_key_change_me

# --- ADMIN DEFAULTS ---
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin
