@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");

html,
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-size: 90%;
    /* Scales down the entire UI */
    /* background-color removed in favor of Footer component */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}